In [124]:
import numpy as np

In [125]:
import pandas as pd

In [218]:
df1 = pd.read_csv('C:/python/Covid_Latest/raw_data1.csv')
df2 = pd.read_csv('C:/python/Covid_Latest/raw_data2.csv')
df3 = pd.read_csv('C:/python/Covid_Latest/raw_data3.csv')
df4 = pd.read_csv('C:/python/Covid_Latest/raw_data4.csv')
df5 = pd.read_csv('C:/python/Covid_Latest/raw_data5.csv')
df6 = pd.read_csv('C:/python/Covid_Latest/raw_data6.csv')
df7 = pd.read_csv('C:/python/Covid_Latest/raw_data7.csv')
df8 = pd.read_csv('C:/python/Covid_Latest/raw_data8.csv')
df9 = pd.read_csv('C:/python/Covid_Latest/raw_data9.csv')
df10 = pd.read_csv('C:/python/Covid_Latest/raw_data10.csv')

In [153]:
df1.columns

Index(['Patient Number', 'State Patient Number', 'Date Announced',
       'Estimated Onset Date', 'Age Bracket', 'Gender', 'Detected City',
       'Detected District', 'Detected State', 'State code', 'Current Status',
       'Notes', 'Contracted from which Patient (Suspected)', 'Nationality',
       'Type of transmission', 'Status Change Date', 'Source_1', 'Source_2',
       'Source_3', 'Backup Notes', 'Num Cases'],
      dtype='object')

In [154]:
len(df1.columns)

21

In [155]:
len(df2.columns)

21

In [156]:
len(df3.columns)

20

In [157]:
df3.columns

Index(['Entry_ID', 'State Patient Number', 'Date Announced', 'Age Bracket',
       'Gender', 'Detected City', 'Detected District', 'Detected State',
       'State code', 'Num Cases', 'Current Status',
       'Contracted from which Patient (Suspected)', 'Notes', 'Source_1',
       'Source_2', 'Source_3', 'Nationality', 'Type of transmission',
       'Status Change Date', 'Patient Number'],
      dtype='object')

In [158]:
len(df4.columns)

20

In [159]:
df1.columns == df2.columns

array([ True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True])

In [160]:
df2.columns == df3.columns

ValueError: Lengths must match to compare

In [161]:
df3.columns == df4.columns

array([ True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True])

In [162]:
len(df5.columns)

20

In [163]:
len(df6.columns)

20

In [164]:
len(df7.columns)

20

In [165]:
len(df8.columns)

20

In [166]:
len(df9.columns)

20

In [167]:
len(df10.columns)

20

In [168]:
df4.columns == df5.columns

array([ True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True])

In [169]:
df5.columns==df6.columns

array([ True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True])

In [170]:
df6.columns == df7.columns

array([ True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True])

In [171]:
df7.columns==df8.columns

array([ True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True])

In [172]:
df8.columns == df9.columns

array([ True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True])

In [173]:
 df9.columns==df10.columns

array([ True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True])

In [174]:
#columns present in every table :
abc = list(set.intersection(*map(set,[df1,df2,df3,df4,df5,df6,df7,df8,df9,df10])))

In [175]:
abc

['Source_1',
 'Notes',
 'Age Bracket',
 'Contracted from which Patient (Suspected)',
 'State code',
 'Detected District',
 'Date Announced',
 'Detected State',
 'Patient Number',
 'Status Change Date',
 'Num Cases',
 'Nationality',
 'Type of transmission',
 'Detected City',
 'Gender',
 'Source_3',
 'Current Status',
 'State Patient Number',
 'Source_2']

In [176]:
len(abc)

19

In [177]:
p = set(df2).intersection(df3)
p

{'Age Bracket',
 'Contracted from which Patient (Suspected)',
 'Current Status',
 'Date Announced',
 'Detected City',
 'Detected District',
 'Detected State',
 'Gender',
 'Nationality',
 'Notes',
 'Num Cases',
 'Patient Number',
 'Source_1',
 'Source_2',
 'Source_3',
 'State Patient Number',
 'State code',
 'Status Change Date',
 'Type of transmission'}

In [178]:
len(p)

19

In [223]:
q =set(df4).difference(df2)

In [224]:
q
#featues more in d2 and not there in d3

{'Entry_ID'}

In [225]:
q2 =set(df2).difference(df3)

In [226]:
q2

{'Backup Notes', 'Estimated Onset Date'}

In [181]:
df2.columns

Index(['Patient Number', 'State Patient Number', 'Date Announced',
       'Estimated Onset Date', 'Age Bracket', 'Gender', 'Detected City',
       'Detected District', 'Detected State', 'State code', 'Current Status',
       'Notes', 'Contracted from which Patient (Suspected)', 'Nationality',
       'Type of transmission', 'Status Change Date', 'Source_1', 'Source_2',
       'Source_3', 'Backup Notes', 'Num Cases'],
      dtype='object')

In [182]:
df3.columns

Index(['Entry_ID', 'State Patient Number', 'Date Announced', 'Age Bracket',
       'Gender', 'Detected City', 'Detected District', 'Detected State',
       'State code', 'Num Cases', 'Current Status',
       'Contracted from which Patient (Suspected)', 'Notes', 'Source_1',
       'Source_2', 'Source_3', 'Nationality', 'Type of transmission',
       'Status Change Date', 'Patient Number'],
      dtype='object')

In [227]:
df3

,Entry_ID,State Patient Number,Date Announced,Age Bracket,Gender,Detected City,Detected District,Detected State,State code,Num Cases,Current Status,Contracted from which Patient (Suspected),Notes,Source_1,Source_2,Source_3,Nationality,Type of transmission,Status Change Date,Patient Number
0,1,NaN,27/04/2020,NaN,NaN,NaN,NaN,West Bengal,WB,38.0,Hospitalized,NaN,Details awaited,mohfw.gov.in,NaN,NaN,NaN,NaN,NaN,27892.0
1,2,NaN,27/04/2020,NaN,NaN,NaN,Bhilwara,Rajasthan,RJ,2.0,Hospitalized,NaN,Details awaited,https://twitter.com/ANI/status/125461859651442...,NaN,NaN,NaN,NaN,NaN,27893.0
2,3,NaN,27/04/2020,NaN,NaN,NaN,Jaipur,Rajasthan,RJ,9.0,Hospitalized,NaN,Details awaited,https://twitter.com/ANI/status/125461859651442...,NaN,NaN,NaN,NaN,NaN,27894.0
3,4,NaN,27/04/2020,28.0,M,Surajpol,Jaipur,Rajasthan,RJ,1.0,Deceased,NaN,Details awaited,https://twitter.com/ANI/status/125461859651442...,NaN,NaN,NaN,NaN,NaN,27895.0
4,5,NaN,27/04/2020,NaN,NaN,NaN,Jaisalmer,Rajasthan,RJ,1.0,Hospitalized,NaN,Details awaited,https://twitter.com/ANI/status/125461859651442...,NaN,NaN,NaN,NaN,NaN,27896.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10015,43270,NaN,27/04/2020,NaN,NaN,NaN,Thoothukkudi,Tamil Nadu,TN,-1.0,Deceased,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10016,43271,NaN,27/04/2020,NaN,NaN,NaN,NaN,Tamil Nadu,TN,1.0,Deceased,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10017,43272,NaN,14/03/2020,NaN,NaN,NaN,NaN,Himachal Pradesh,HP,1.0,Migrated_Other,NaN,Entry for reduction from Active,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10018,43273,NaN,14/03/2020,NaN,NaN,NaN,NaN,Himachal Pradesh,HP,1.0,Migrated_Other,NaN,Entry for reduction from Active,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10019,43274,NaN,14/03/2020,NaN,NaN,NaN,NaN,Himachal Pradesh,HP,1.0,Migrated_Other,NaN,Entry for reduction from Active,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [183]:
q2 =set(df2) - set(df3)
#second way of getting the differnce

In [184]:
q2

{'Backup Notes', 'Estimated Onset Date'}

In [185]:
q3 =set(df3) - set(df2)

In [186]:
q3
#feature there in df3 but not in df2

{'Entry_ID'}

In [187]:
s= set(df2)

In [188]:
s

{'Age Bracket',
 'Backup Notes',
 'Contracted from which Patient (Suspected)',
 'Current Status',
 'Date Announced',
 'Detected City',
 'Detected District',
 'Detected State',
 'Estimated Onset Date',
 'Gender',
 'Nationality',
 'Notes',
 'Num Cases',
 'Patient Number',
 'Source_1',
 'Source_2',
 'Source_3',
 'State Patient Number',
 'State code',
 'Status Change Date',
 'Type of transmission'}

In [189]:
s2= set(df3)

In [190]:
s2

{'Age Bracket',
 'Contracted from which Patient (Suspected)',
 'Current Status',
 'Date Announced',
 'Detected City',
 'Detected District',
 'Detected State',
 'Entry_ID',
 'Gender',
 'Nationality',
 'Notes',
 'Num Cases',
 'Patient Number',
 'Source_1',
 'Source_2',
 'Source_3',
 'State Patient Number',
 'State code',
 'Status Change Date',
 'Type of transmission'}

In [192]:
df1 = df1.rename(columns ={"Patient Number":"Entry_ID"})

In [193]:
df1

,Entry_ID,State Patient Number,Date Announced,Estimated Onset Date,Age Bracket,Gender,Detected City,Detected District,Detected State,State code,...,Notes,Contracted from which Patient (Suspected),Nationality,Type of transmission,Status Change Date,Source_1,Source_2,Source_3,Backup Notes,Num Cases
0,1.0,KL-TS-P1,30/01/2020,NaN,20,F,Thrissur,Thrissur,Kerala,KL,...,Travelled from Wuhan,NaN,India,Imported,14/02/2020,https://twitter.com/vijayanpinarayi/status/122...,https://weather.com/en-IN/india/news/news/2020...,NaN,Student from Wuhan,1
1,2.0,KL-AL-P1,02/02/2020,NaN,NaN,NaN,Alappuzha,Alappuzha,Kerala,KL,...,Travelled from Wuhan,NaN,India,Imported,14/02/2020,https://www.indiatoday.in/india/story/kerala-r...,https://weather.com/en-IN/india/news/news/2020...,NaN,Student from Wuhan,1
2,3.0,KL-KS-P1,03/02/2020,NaN,NaN,NaN,Kasaragod,Kasaragod,Kerala,KL,...,Travelled from Wuhan,NaN,India,Imported,14/02/2020,https://www.indiatoday.in/india/story/kerala-n...,https://twitter.com/ANI/status/122422148580539...,https://weather.com/en-IN/india/news/news/2020...,Student from Wuhan,1
3,4.0,DL-P1,02/03/2020,NaN,45,M,East Delhi (Mayur Vihar),East Delhi,Delhi,DL,...,"Travelled from Austria, Italy",NaN,India,Imported,15/03/2020,https://www.indiatoday.in/india/story/not-a-ja...,https://economictimes.indiatimes.com/news/poli...,NaN,Travel history to Italy and Austria,1
4,5.0,TS-P1,02/03/2020,NaN,24,M,Hyderabad,Hyderabad,Telangana,TG,...,"Travelled from Dubai to Bangalore on 20th Feb,...",NaN,India,Imported,02/03/2020,https://www.deccanherald.com/national/south/qu...,https://www.indiatoday.in/india/story/coronavi...,https://www.thehindu.com/news/national/coronav...,"Travel history to Dubai, Singapore contact",1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17359,NaN,NaN,16/04/2020,NaN,NaN,NaN,NaN,NaN,Maharashtra,MH,...,Correction for district count,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-2
17360,NaN,NaN,18/04/2020,NaN,NaN,NaN,NaN,Nagpur,Maharashtra,MH,...,Correction for district count,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1
17361,NaN,NaN,18/04/2020,NaN,NaN,NaN,NaN,NaN,Maharashtra,MH,...,Correction for district count,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-1
17362,NaN,NaN,19/04/2020,NaN,NaN,NaN,NaN,Nagpur,Maharashtra,MH,...,Correction for district count,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,10
17363,NaN,NaN,19/04/2020,NaN,NaN,NaN,NaN,NaN,Maharashtra,MH,...,Correction for district count,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-10

In [194]:
df2 = df2.rename(columns ={"Patient Number":"Entry_ID"})

In [195]:
df2

,Entry_ID,State Patient Number,Date Announced,Estimated Onset Date,Age Bracket,Gender,Detected City,Detected District,Detected State,State code,...,Notes,Contracted from which Patient (Suspected),Nationality,Type of transmission,Status Change Date,Source_1,Source_2,Source_3,Backup Notes,Num Cases
0,17307.0,NaN,20/04/2020,NaN,48.0,M,NaN,Bhadrak,Odisha,OR,...,Details awaited,NaN,NaN,NaN,20/04/2020,https://twitter.com/the_hindu/status/125205985...,NaN,NaN,NaN,1
1,17308.0,NaN,20/04/2020,NaN,55.0,M,NaN,Bhadrak,Odisha,OR,...,Details awaited,NaN,NaN,NaN,20/04/2020,https://twitter.com/the_hindu/status/125205985...,NaN,NaN,NaN,1
2,17309.0,NaN,20/04/2020,NaN,57.0,M,NaN,Bhadrak,Odisha,OR,...,Details awaited,NaN,NaN,NaN,20/04/2020,https://twitter.com/the_hindu/status/125205985...,NaN,NaN,NaN,1
3,17310.0,NaN,20/04/2020,NaN,58.0,M,NaN,Bhadrak,Odisha,OR,...,Details awaited,NaN,NaN,NaN,20/04/2020,https://twitter.com/the_hindu/status/125205985...,NaN,NaN,NaN,1
4,17311.0,NaN,20/04/2020,NaN,66.0,M,NaN,Bhadrak,Odisha,OR,...,Details awaited,NaN,NaN,NaN,20/04/2020,https://twitter.com/the_hindu/status/125205985...,NaN,NaN,NaN,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10814,NaN,NaN,22/04/2020,NaN,NaN,NaN,NaN,NaN,Maharashtra,MH,...,Correction for district count,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,11
10815,NaN,NaN,24/04/2020,NaN,NaN,NaN,NaN,Nagpur,Maharashtra,MH,...,Correction for district count,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1
10816,NaN,NaN,24/04/2020,NaN,NaN,NaN,NaN,NaN,Maharashtra,MH,...,Correction for district count,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-1
10817,NaN,NaN,25/04/2020,NaN,NaN,NaN,NaN,Nagpur,Maharashtra,MH,...,Correction for district count,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6
10818,NaN,NaN,25/04/2020,NaN,NaN,NaN,NaN,NaN,Maharashtra,MH,...,Correction for district count,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-6

In [196]:
df3.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10020 entries, 0 to 10019
Data columns (total 20 columns):
Entry_ID                                     10020 non-null int64
State Patient Number                         5138 non-null object
Date Announced                               10020 non-null object
Age Bracket                                  5183 non-null float64
Gender                                       4654 non-null object
Detected City                                421 non-null object
Detected District                            9934 non-null object
Detected State                               10015 non-null object
State code                                   10015 non-null object
Num Cases                                    10019 non-null float64
Current Status                               10020 non-null object
Contracted from which Patient (Suspected)    241 non-null object
Notes                                        1931 non-null object
Source_1                                     9955 non-null object
Source_2                                     80 non-null object
Source_3                                     31 non-null object
Nationality                                  0 non-null float64
Type of transmission                         0 non-null float64
Status Change Date                           0 non-null float64
Patient Number                               10008 non-null float64
dtypes: float64(6), int64(1), object(13)
memory usage: 1.5+ MB

In [197]:
df2 = df2.drop(['Backup Notes', 'Estimated Onset Date'],axis=1)

In [198]:
df1 = df1.drop(['Backup Notes', 'Estimated Onset Date'],axis=1)

In [202]:
len(df1.columns)

19

In [206]:
df1.columns

Index(['Entry_ID', 'State Patient Number', 'Date Announced', 'Age Bracket',
       'Gender', 'Detected City', 'Detected District', 'Detected State',
       'State code', 'Current Status', 'Notes',
       'Contracted from which Patient (Suspected)', 'Nationality',
       'Type of transmission', 'Status Change Date', 'Source_1', 'Source_2',
       'Source_3', 'Num Cases'],
      dtype='object')

In [207]:
len(df1.columns)

19

In [114]:
df1

,Entry_ID,State Patient Number,Date Announced,Age Bracket,Gender,Detected City,Detected District,Detected State,State code,Current Status,Notes,Contracted from which Patient (Suspected),Nationality,Type of transmission,Status Change Date,Source_1,Source_2,Source_3,Num Cases
0,1.0,KL-TS-P1,30/01/2020,20,F,Thrissur,Thrissur,Kerala,KL,Recovered,Travelled from Wuhan,NaN,India,Imported,14/02/2020,https://twitter.com/vijayanpinarayi/status/122...,https://weather.com/en-IN/india/news/news/2020...,NaN,1
1,2.0,KL-AL-P1,02/02/2020,NaN,NaN,Alappuzha,Alappuzha,Kerala,KL,Recovered,Travelled from Wuhan,NaN,India,Imported,14/02/2020,https://www.indiatoday.in/india/story/kerala-r...,https://weather.com/en-IN/india/news/news/2020...,NaN,1
2,3.0,KL-KS-P1,03/02/2020,NaN,NaN,Kasaragod,Kasaragod,Kerala,KL,Recovered,Travelled from Wuhan,NaN,India,Imported,14/02/2020,https://www.indiatoday.in/india/story/kerala-n...,https://twitter.com/ANI/status/122422148580539...,https://weather.com/en-IN/india/news/news/2020...,1
3,4.0,DL-P1,02/03/2020,45,M,East Delhi (Mayur Vihar),East Delhi,Delhi,DL,Recovered,"Travelled from Austria, Italy",NaN,India,Imported,15/03/2020,https://www.indiatoday.in/india/story/not-a-ja...,https://economictimes.indiatimes.com/news/poli...,NaN,1
4,5.0,TS-P1,02/03/2020,24,M,Hyderabad,Hyderabad,Telangana,TG,Recovered,"Travelled from Dubai to Bangalore on 20th Feb,...",NaN,India,Imported,02/03/2020,https://www.deccanherald.com/national/south/qu...,https://www.indiatoday.in/india/story/coronavi...,https://www.thehindu.com/news/national/coronav...,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17359,NaN,NaN,16/04/2020,NaN,NaN,NaN,NaN,Maharashtra,MH,Hospitalized,Correction for district count,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-2
17360,NaN,NaN,18/04/2020,NaN,NaN,NaN,Nagpur,Maharashtra,MH,Hospitalized,Correction for district count,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1
17361,NaN,NaN,18/04/2020,NaN,NaN,NaN,NaN,Maharashtra,MH,Hospitalized,Correction for district count,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-1
17362,NaN,NaN,19/04/2020,NaN,NaN,NaN,Nagpur,Maharashtra,MH,Hospitalized,Correction for district count,NaN,NaN,NaN,NaN,NaN,NaN,NaN,10
17363,NaN,NaN,19/04/2020,NaN,NaN,NaN,NaN,Maharashtra,MH,Hospitalized,Correction for district count,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-10

In [228]:
df2

,Patient Number,State Patient Number,Date Announced,Estimated Onset Date,Age Bracket,Gender,Detected City,Detected District,Detected State,State code,...,Notes,Contracted from which Patient (Suspected),Nationality,Type of transmission,Status Change Date,Source_1,Source_2,Source_3,Backup Notes,Num Cases
0,17307.0,NaN,20/04/2020,NaN,48.0,M,NaN,Bhadrak,Odisha,OR,...,Details awaited,NaN,NaN,NaN,20/04/2020,https://twitter.com/the_hindu/status/125205985...,NaN,NaN,NaN,1
1,17308.0,NaN,20/04/2020,NaN,55.0,M,NaN,Bhadrak,Odisha,OR,...,Details awaited,NaN,NaN,NaN,20/04/2020,https://twitter.com/the_hindu/status/125205985...,NaN,NaN,NaN,1
2,17309.0,NaN,20/04/2020,NaN,57.0,M,NaN,Bhadrak,Odisha,OR,...,Details awaited,NaN,NaN,NaN,20/04/2020,https://twitter.com/the_hindu/status/125205985...,NaN,NaN,NaN,1
3,17310.0,NaN,20/04/2020,NaN,58.0,M,NaN,Bhadrak,Odisha,OR,...,Details awaited,NaN,NaN,NaN,20/04/2020,https://twitter.com/the_hindu/status/125205985...,NaN,NaN,NaN,1
4,17311.0,NaN,20/04/2020,NaN,66.0,M,NaN,Bhadrak,Odisha,OR,...,Details awaited,NaN,NaN,NaN,20/04/2020,https://twitter.com/the_hindu/status/125205985...,NaN,NaN,NaN,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10814,NaN,NaN,22/04/2020,NaN,NaN,NaN,NaN,NaN,Maharashtra,MH,...,Correction for district count,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,11
10815,NaN,NaN,24/04/2020,NaN,NaN,NaN,NaN,Nagpur,Maharashtra,MH,...,Correction for district count,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1
10816,NaN,NaN,24/04/2020,NaN,NaN,NaN,NaN,NaN,Maharashtra,MH,...,Correction for district count,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-1
10817,NaN,NaN,25/04/2020,NaN,NaN,NaN,NaN,Nagpur,Maharashtra,MH,...,Correction for district count,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6
10818,NaN,NaN,25/04/2020,NaN,NaN,NaN,NaN,NaN,Maharashtra,MH,...,Correction for district count,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-6